{% extends "./plantilla.html" %}
x="M"
{% block content %}
<div class='container col-md-8 col-xl-6'>
  <h1 class='text-center my-4'>Últimos Posts</h1>

  {% for post in posts %}
  <div class="card shadow border mb-3">
    <img src={{post.image.url}} class="card-img-top" />

    <div class="card-body">
      <a href={{ post.author.get_absolute_url }}>
        <h5 class="card-title">{{post.author}}</h5>
      </a>
      <p class="card-text">
        {{post.description}}

      </p>
      <p class="card-text">
        {{post.grado}}
      </p>
    {% if  asignatura_Media == 'Matemáticas' or 'Matemáticas avanzadas' %}
      <p class="card-text">
        {{post.asignatura_Media}}
      </p>
    {% endif %}
    {% if  asignatura_Basica == 'Matemáticas' or 'Ciencias Naturales'%}
      <p class="card-text">
        {{post.asignatura_Basica}}
      </p>
    {% endif %}
      
    
    </div>

    <div class='card-footer'>
      <p class="card-text">
        <small class="text-muted">{{post.published}}</small>
      </p>
    </div>

  </div>
  {% endfor %}
  {% endblock %}
</div>




